EMAIL_USER=
OPTIMAL_EMAIL_RECEIVER=
DIGITAL_PARADIGM_EMAIL_RECEIVER=
DIGITAL_PARADIGM_DOMAINS=digital-paradigm-domain.com,www.digital-paradigm-domain.com
DIGITAL_PARADIGM_ORIGINS=https://digital-paradigm-domain.com,https://www.digital-paradigm-domain.com
DIGITAL_PARADIGM_WEBSITE=https://digital-paradigm-domain.com
DIGITAL_PARADIGM_PHONE=

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
