EMAIL_USER=
OPTIMAL_EMAIL_RECEIVER=
DIGITAL_PARADIGM_EMAIL_RECEIVER=
DIGITAL_PARADIGM_DOMAINS=digitalparadigm.com.au,www.digitalparadigm.com.au
DIGITAL_PARADIGM_ORIGINS=https://digitalparadigm.com.au,https://www.digitalparadigm.com.au
DIGITAL_PARADIGM_WEBSITE=https://www.digitalparadigm.com.au
DIGITAL_PARADIGM_PHONE=

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
